{{define "main-layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
    <title>HTMX TODO</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </nav>
    </header>
    {{template "content" .}}
  </body>
</html>
{{end}}
