{{define "content"}}
<div class="container">
  <h2>Sign Up</h2>
  <form hx-post="/api/users">
    <div>
      <label for="signup-email">Email:</label>
      <input type="email" id="signup-email" name="signup-email" required />
    </div>
    <div>
      <label for="signup-password">Password:</label>
      <input
        type="password"
        id="signup-password"
        name="signup-password"
        required
      />
    </div>
    <div hx-target="this" hx-swap="outerHTML">
      <label for="signup-password-confirm">Confirm Password:</label>
      <input
        type="password"
        id="signup-password-confirm"
        name="signup-password-confirm"
        required
        hx-post="/api/validate-password"
      />
    </div>
    <button type="submit">Sign Up</button>
  </form>
</div>
{{end}}
